.list {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.list-item {
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 10px;
}

.thumb > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.descr {
  padding: 5px 0;
}

// .load-more {
//   display: block;
//   margin: 0px auto;
//   padding: 5px 10px;

//   border: 2px solid #7ba7ab;
//   border-radius: 5px;
//   outline: none;
//   background-color: #fff;
//   color: #9e9c9c;
// }

// .load-more:hover,
// .load-more:focus {
//   background-color: #cef1e7;
//   cursor: pointer;
// }

// .hidden {
//   display: none;
// }

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 470px) {
  .list {
    grid-template-columns: 1fr;
  }
}
