<section class="main">
	<div class="conteiner">
		<ul class="list">
			<li class="list-item">
				<div class="thumb">
					<img src="./images/bmw.jpg" alt="car">
				</div>
				<div class="descr">author: Asapr</div>
			</li>
			<li class="list-item">
				<div class="thumb">
					<img src="https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&h=350"
						alt="car">
				</div>
				<div class="descr">author: Asapr</div>
			</li>
			<li class="list-item">test3</li>
			<li class="list-item">test4</li>
			<li class="list-item">test5</li>
			<li class="list-item">test6</li>
		</ul>
		<button type="submit" class="load-more hidden">Load more</button>
	</div>
</section>